{% extends "base.html" %}

{% set term = 'fall-2018' %}

{% macro render(directory,page,name) -%}
{% set path = term %}
{% if directory %}
{% set path = term + '/' + directory %}
{% endif %}
{% set target = page %}
{% if page == '' %}
{% set target = 'index' %}
{% endif %}
<li {% if active == target %}class="active"{% endif %}>
<a href={{url_for("show",directory=path, page=page)}} >{{name}}</a></li>
{%- endmacro %}

{% block term %}
Fall 2018
{% endblock %}

{% block menu %}

{{ render('','','Syllabus') }}
{{ render('','schedule','Schedule') }}
<li class="has-dropdown {% if previous == "tutorials" %}active{% endif %}">
  <a href="#">Homework</a>
  <ul class="dropdown">
  </ul>
</li>
<li class="has-dropdown {% if previous == "labs" %}active{% endif %}">
  <a href="#">Projects</a>
  <ul class="dropdown">
  </ul>
</li>
<li class="has-dropdown {% if previous == "help" %}active{% endif %}">
  <a href="#">Help</a>
  <ul class="dropdown">
    {{ render('help','instructor','Instructor and TAs') }}
    {{ render('help','officehours','Office Hours') }}
    <li><a href="https://piazza.com/byu/fall2018/cs465" target="_blank">Discussion <i class="fi-arrow-right"></i></a></li>
  </ul>
</li>
</ul>

{% endblock %}
