{% extends "base.html" %}

{% block term %}
Fall 2018
{% endblock %}

{% block section %}
Section 1: TTh 3:00pm 2113 JKB
{% endblock %}


{% set term = 'fall-2018' %}

{% macro render(directory,page,name) -%}
{% set path = term %}
{% if directory %}
{% set path = term + '/' + directory %}
{% endif %}
{% set target = page %}
{% if page == '' %}
{% set target = 'index' %}
{% endif %}
<li class="nav-item {% if active == target %}active{% endif %}">
<a class="nav-link" href={{url_for("show",directory=path, page=page)}} >{{name}}</a>
</li>
{%- endmacro %}

{% macro dropdown(directory,page,name) -%}
{% set path = term %}
{% if directory %}
{% set path = term + '/' + directory %}
{% endif %}
{% set target = page %}
{% if page == '' %}
{% set target = 'index' %}
{% endif %}
<a class="dropdown-item" href={{url_for("show",directory=path, page=page)}} >{{name}}</a>
{%- endmacro %}

{% block menu %}

{{ render('','','Syllabus') }}
{{ render('','schedule','Schedule') }}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="/homework" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Homework</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {{ dropdown('','homework/homework1','Homework #1') }}
    {{ dropdown('','homework/homework2','Homework #2') }}
    {{ dropdown('','homework/homework3','Homework #3') }}
    {{ dropdown('','homework/homework4','Homework #4') }}
    {{ dropdown('','homework/homework5','Homework #5') }}
    {{ dropdown('','homework/homework6','Homework #6') }}
    {{ dropdown('','homework/homework7','Homework #7') }}
    {{ dropdown('','homework/homework8','Homework #8') }}
    {{ dropdown('','homework/homework9','Homework #9') }}
</div>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Projects</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  {{ dropdown('','projects/project1','Project #1: AES') }}
  {{ dropdown('','projects/project2','Project #2: Hash Attack') }}
  {{ dropdown('','projects/project3','Project #3: MAC Attack') }}
  {{ dropdown('','projects/project4','Project #4: Diffie-Hellman') }}
  {{ dropdown('','projects/project5','Project #5: RSA') }}
  {{ dropdown('','projects/project6','Project #6: TLS') }}
</div>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Help</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {{ dropdown('help','instructor','Instructor and TAs') }}
    {{ dropdown('help','officehours','Office Hours') }}
    {{ dropdown('help','study-guide-midterm1','Midterm 1 Study Guide') }}
    <a class="dropdown-item" href="https://piazza.com/byu/fall2018/cs465" target="_blank">Discussion <i class="fi-arrow-right"></i></a></li>
    </div>
    </li>
</ul>

{% endblock %}
