{% extends "winter-2023/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #13 Extra Credit

## Overview and Background

Penetration testing is a growing field in cybersecurity where someone (with permission and sometimes a unique set of requirements) takes on the role of an attacker, attempting to gain access and thus information about a system. Some companies do this internally, others contract this out to organizations that specialize in pen-testing. Typically, when we talk about pen-testing, there are 2 parties, a red and blue team. The red team is the group that is attacking the system, while the blue team is meant to defend the system, and detect intrusion in order to minimize asset losses. 

## The assignment 
For this assignment, we will be using HackTheBox (HTB). You are free to choose any machines to attempt. 
Visit [HTB]{https://app.hackthebox.com/machines} and get hacking! You can submit this up to 3 times for credit, however only 2 can be qualified as "easy". The third one must be a medium or hard difficulty. 

Note: multiple people may be working on the same machine at a time, if something is very broken, it may randomly get reset by one of them. If this happens, you will likely have to restart your attack. 

Note2: This will be made 100% easier if you use Kali Linux. Running it as a VM is perfectly acceptable (that's what I do at home). This is because Kali *should* come with everything you might need pre-installed. 

## Credit
To get credit, upload a screenshot of your successful hack on the HTB machine to Learning Suite. This will require you to submit the flags to HTB. 

{% endfilter %}

{% endblock %}
