{% extends "winter-2023/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #11.5 -- Individual Privacy vs. Greater Public Good

There  is an ongoing debate between many governments and security professionals.  On the one side, governmental organizations claim they can’t protect the public against a wide variety of societal ills - fraud, drugs, human trafficking, terrorism, etc, without being able to intercept and search electronic communications.  They suggest that we should pass laws requiring all encrypted communications systems to be monitorable by a central authority - them.  On the other side, security professionals and cryptographers are claiming that any technical ability to monitor communications will inevitably be used by people not authorized to do so.  Further, they suggest that abuse of such systems either by governments or by criminals who got access to these tools is too likely and will lead to oppression, theft, and loss of privacy.



Please read the following articles, and either listen to the linked podcast or read its transcript.



https://www.american.edu/sis/centers/security-technology/encryption.cfm



https://www.thesslstore.com/blog/end-to-end-encryption-the-good-the-bad-and-the-politics/



https://www.computerweekly.com/news/252515185/IT-professionals-wary-of-government-campaign-to-limit-end-to-end-encryption



https://darknetdiaries.com/episode/100/


## Submission

Once you’ve digested that information, please write a one-page summary of both points of view and draw your own conclusions based on those points.  Submit a PDF to learningsuite and come to class prepared to discuss this.


{% endfilter %}

{% endblock %}
