<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS 465 Computer Security</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Lora:700|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/static/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid header">
      <div class="row">
	<div class="col-md-7 brand">
	  <a href="/">CS 465 Computer Security</a>
	</div>
	<div class="col-md-5 affiliation">
	  <a href="https://www.byu.edu">BYU</a> | <a
	  href="https://cs.byu.edu">Computer Science</a>
	</div>
	</div>
	<div class="row">
	<div class="col-sm">
	  <h1>
Winter 2022
</h1>
	  <h4>
Section 1: MWF, 11:00am - 11:50am, TMCB 120
</h4>
	</div>
	</div>
	</div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
  <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  







<li class="nav-item active">
<a class="nav-link" href=/winter-2022/ >Syllabus</a>
</li>




<li class="nav-item ">
<a class="nav-link" href=/winter-2022/schedule >Schedule</a>
</li>




<li class="nav-item ">
<a class="nav-link" href=/winter-2022/lectures >Lecture Material</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="/homework" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Homework</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    



<a class="dropdown-item" href=/winter-2022/homework/homework1 >Homework #1</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework2 >Homework #2</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework3 >Homework #3</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework4 >Homework #4</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework5 >Homework #5</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework6 >Homework #6</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework7 >Homework #7</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework8 >Homework #8</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework9 >Homework #9</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework10 >Homework #10</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework11 >Homework #11</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework12 >Homework #12</a>
    



<a class="dropdown-item" href=/winter-2022/homework/homework13 >Homework #13</a>
</div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Projects</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    



<a class="dropdown-item" href=/winter-2022/projects/project1 >Project #1: AES</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project2 >Project #2: Hash Attack</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project3 >Project #3: MAC Attack</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project4 >Project #4: Diffie-Hellman</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project5 >Project #5: RSA</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project6 >Project #6: TLS</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project7 >Project #7: Password Cracking</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project8 >Project #8: Extracting Secrets</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project9 >Project #9: Buffer Overflow</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project10 >Project #10: S/MIME and PGP</a>
    



<a class="dropdown-item" href=/winter-2022/projects/project11 >Project #11: CTF Extra Credit</a>
</div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Help</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    





<a class="dropdown-item" href=/winter-2022/help/instructor >Instructor and TAs</a>
    





<a class="dropdown-item" href=/winter-2022/help/officehours >Office Hours</a>
    





<a class="dropdown-item" href=/winter-2022/help/study-guide-midterm1 >Midterm 1 Study Guide</a>
    





<a class="dropdown-item" href=/winter-2022/help/study-guide-midterm2 >Midterm 2 Study Guide</a>
    





<a class="dropdown-item" href=/winter-2022/help/slack >Class Slack Channel</a>
    </div>
    </li>
</ul>


	</ul>
      </div>
    </div>
    </nav>

    <div id="page" class="white">
    <div class="container-fluid">
    <div class="row">
          <div class="col-sm">

	    

<h1>Syllabus</h1>
<p>This course covers fundamental principles of computer security. The
course consists of three parts:</p>
<p><strong>Part 1: Cryptography</strong>: We will study and experiment with basic
cryptographic primitives (symmetric encryption, asymmetric encryption,
MAC, and cryptographic hash functions). We will learn how these
primitives are used to achieve certain security properties.</p>
<p><strong>Part 2: Systems:</strong> We will study systems that use cryptography,
including HTTPS and secure email, to see how cryptographic primitives
are used in practice on the Internet.</p>
<p><strong>Part 3: Software Security</strong>: We will learn about some of the most common errors that software
developers make that attackers then exploit. We will learn how to
avoid or prevent these mistakes.</p>
<p>The learning outcomes for this course are:</p>
<ul>
<li>
<p>Have a breadth of knowledge in computer security</p>
<ul>
<li>
<p>Understand basic security terminology and use it accurately in
  technical discussions</p>
</li>
<li>
<p>Understand the kinds of threats facing people and systems and the
  technology to address those threats</p>
</li>
<li>
<p>Understand the limitations of technology in creating a secure
  system</p>
</li>
</ul>
</li>
<li>
<p>Understand the basic principles of cryptography and how
  cryptographic building blocks can be assembled to provide security
  services</p>
<ul>
<li>
<p>Build a system: Implement a cryptographic algorithm from a standards 
  specification.</p>
</li>
<li>
<p>Remove the mystery of cryptography and replace it with knowledge
  of basic principles</p>
</li>
<li>
<p>Understand the use of cryptography in existing security
  protocols</p>
</li>
<li>
<p>Be able to explain how a protocol meets a given set of security
  requirements</p>
</li>
</ul>
</li>
<li>
<p>Understand the basic principles of secure software design</p>
<ul>
<li>
<p>Break and fix a system: Demonstrate how attackers compromise
  real-world systems, and then show how to prevent these attacks.</p>
</li>
<li>
<p>Avoid common design and development errors</p>
</li>
<li>
<p>Understand basic usage of standard cryptographic primitives</p>
</li>
</ul>
</li>
<li>
<p>Demonstrate leadership skills</p>
<ul>
<li>
<p>Be able to make sound technical decisions in the design and acquisition of security technology</p>
</li>
<li>
<p>Have technical and communication skills needed for leadership roles</p>
</li>
<li>
<p>Be ready to conduct security research in industry or graduate school</p>
</li>
</ul>
</li>
<li>
<p>Promote a code of ethics that is compliant with the law and in
accordance with gospel principles</p>
</li>
</ul>
<p>The prerequisite for the course is CS 324 Systems Programming.</p>
<h2>Textbooks</h2>
<p>There are no required textbooks for this class.  We will use a variety of online materials 
associated with each lecture.  I strongly encourage you to review the materials before
each lecture.</p>
<h2>Assignments and Grading Policy</h2>
<p>The assignments for this class will consist of homework, labs, and
exams.</p>
<h3>Homework</h3>
<p>Homework is due at 11:59 PM of the date in the <a href="/winter-2022/schedule">Schedule</a>. Submit it online
in LearningSuite before it is due.  Submitted homework must be a PDF.</p>
<p><strong>Late Homework Policy</strong>: Each homework is worth 4 points. There are a total of 13 homework assignments.
Your total homework score will be out of 40 points. This gives you three homework assignments you can miss
but still get full points in this category. Any homework that you do past the required ten will count as extra credit. Because of this, <strong>no late homework will be accepted.</strong></p>
<h3>Projects</h3>
<p>Each project is is due at 11:59 PM of the date in the <a href="/winter-2022/schedule">Schedule</a>. Students are encouraged
to meet project deadlines. I want to see all students complete every lab by the end of the semester.
Code can be submitted as .zip or .tar.gz, but <em>please</em> make sure that when files are unzipped or
untarred that they are inside of a directory instead of placed in the current directory.</p>
<p>Projects may be written in the language of your choice unless instructed otherwise.  For many of the projects there is an automated passoff system.</p>
<p><strong>Late Project Policy</strong>: As an incentive to help you stay current, we will record late days and
  early days (maximum of 5) for each project (weekends and university holidays excluded). You will
  get a total of five (5) free early days for the semester. At the end of the semester, you will
  receive a penalty if your late day balance exceeds your early day balance. Your overall project
  points may be penalized up to 2% for each late day on your final balance. If all projects are
  completed, the penalty for late days will be capped at 10% so that your grade is reduced by a
  maximum of one letter grade.</p>
<h2>Exams</h2>
<p>There will be two midterm exams (see posted <a href="/winter-2022/schedule">Schedule</a>) and the final
exam will cover material from the entire course.</p>
<h2>Final Grade</h2>
<p>Your final grade will be computed by weighting all scores as follows:</p>
<blockquote>
<p>Homework 10%</p>
<p>Projects 45%</p>
<p>Exams 45%</p>
<ul>
  <li>
    <p>Midterm 1: 10%</p>
  </li>
  <li>
    <p>Midterm 2: 15%</p>
  </li>
  <li>
    <p>Final: 20%</p>
  </li>
</ul>
</blockquote>
<h2>Collaboration Policy</h2>
<p>All assignments must be completed individually. You are encouraged to collaborate as much as
possible, including discussing solutions and solving problems together. For homeworks, write up your
own answer individually (e.g. do not copy someone else's solution directly).  For projects, you are
encouraged to discuss solving the projects and any programming problems you encounter generally, but
you must write your own code.</p>
<h2>Exceptions</h2>
<p>If you have a serious medical or personal issue, please see the instructor to make arrangements for
late work. I am happy to make accommodations for a learning disability if you turn
in an accommodations letter to me. No work can be turned in after the university's last day of
instruction (even with accommodations).</p>
<p>Exams must be taken on the scheduled day(s). Medical exceptions are available, but please notify the
instructor in advance or as soon as possible. Non-medical exceptions (e.g. traveling to a job
interview) can possibly be made in advance with sufficient notice.</p>
<h2>Educational Policies</h2>
<h3>Honor Code Standards</h3>
<p>In keeping with the principles of the <a href="http://honorcode.byu.edu/">BYU Honor Code</a>, students are
expected to be honest in all of their academic work.  Academic honesty means, most fundamentally,
that any work you present as your own must in fact be your own work and not that of
another. Violations of this principle may result in a failing grade in the course and additional
disciplinary action by the university.</p>
<h3>Policy on Harassment</h3>
<p>Harassment of any kind is inappropriate at BYU. Specifically, BYU's policy against sexual harassment
extends not only to employees of the university but to students as well. If you encounter sexual
harassment, gender-based discrimination, or other inappropriate behavior, please talk to your
professor, contact the Equal Employment Office at 422-5895 or 367-5689, or contact the Honor Code
Office at 422-2847.</p>
<h3>Students with Disabilities</h3>
<p>BYU is committed to providing reasonable accommodation to qualified persons with disabilities. If
you have any disability that may adversely affect your success in this course, please contact the
University Accessibility Center at 422-2767. Services deemed appropriate will be coordinated with
the student and instructor by that office.</p>


	    </div>
    </div>
    </div>
    </div>

    <div id="footer">
      <div class="row">
	<div id="license">
	</div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js" integrity="sha256-nvJJv9wWKEm88qvoQl9ekL2J+k/RWIsaSScxxlsrv8k=" crossorigin="anonymous"></script>
    <script>
  </body>
</html>