{% extends "fall-2021/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #98 - scheduling tbd


Social Engineering is and will continue to be a pervasive and persistent threat.  Social Engineerings (aka con artists) will often do extensive background research on their targets.  The use this information to seem to belong, to know where the weaknesses are, to appeal to authority etc.



This Extra Credit assignment will have several steps.  The only person you are allowed to social-engineer, lie to, attempt to deceive, is me - Fred Clift.  Please do not call my 13 year old son at home and try and trick him into revealing personal information about me (or anyone else....)  

Don't contact 3rd parties about me - e.g. no calling my bank, no calling comcast (yes I have a comcast account) etc.  Don't talk to my Bishop or my Boss, etc. You are welcome to use the internet and information you find there that is publicly available.  Do not break any laws.

ALL EMAIL communication to me for this assignment should be to my new email address:  scamme@clift.org or to my google voice number 801-318-3106





This assignment has two phases - Research, and Attack.



In the research phase, you will try to find out some/any of the following information about me:



1) My reddit username (2 points)

2) 3 hobbies I enjoy (3 points)

3) My favorite soft-drink (1 point) - you should already know this one if you are observant.

4) My favorite hot sauce (2 points)

5) The names and occupations of 2 of my brother-in-laws (6 points)

6) What my high-school mascot was (3 points)





For the attack phase, use the gathered information to try and scam me in some way.  (8 points)  Think about something that an attacker would want to get from me and take your best shot. 

There may be extra credit if you make me laugh out loud.



Once you think you're done, submit what you've found and what you did in a simple text document via learningsuite.  You have to at least attempt the attack phase to receive any credit for this assignment.  Merely submitting "your favorite beverage is......" will get you 0 points.



{% endfilter %}

{% endblock %}
