{% extends "fall-2021/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #5

1. Describe the Diffie-Hellman protocol.

1. Show how Mallory can conduct a man-in-the-middle attack when Alice
and Bob perform the DH protocol from question #1.


1. What is the recommended key size for the prime modulus p in DH?

1. Why is the recommended size for p for DH so much larger than the
recommended key size for AES?

(search external sources for answering the last two questions, and
cite your source)

Submit your work on Learning Suite as a PDF before the start of class
on the due date.

{% endfilter %}

{% endblock %}
