{% extends "fall-2021/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #7.5

## TLS Intro

Read http://www.moserware.com/2009/06/first-few-milliseconds-of-https.html

Write a 1 to 2 page summary of this article.  As an appendix to your summary, include a list of at least 3 questions you might want
to have me address in class while we discuss and learn about TLS.  Do not let the math scare you - you already know this stuff.  Put in an honest effort to understand this so we can move briskly through the material in class.

## Submit

Submit a PDF via Learning Suite.

{% endfilter %}

{% endblock %}
