{% extends "fall-2021/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #8

Read the paper [An Administrator's Guide to Internet Password
Research](https://www.microsoft.com/en-us/research/publication/an-administrators-guide-to-internet-password-research/). The
paper is 18 pages, so start early enough to give you time to complete
the assignment.

Write a one page response that includes:

* Discuss the three primary things you learned from your
reading. These could be new things you didn't already know, what you
found to be most important, what you learned that might cause you do
something different with how you manage your own passwords, etc.

* List the two best questions you have from your reading.

Submit a PDF via Learning Suite *and* bring a copy to class. We will
discuss the paper and your questions in class.

{% endfilter %}

{% endblock %}
