{% extends "fall-2020/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #0

Knowing about you and your backgorunds will help me present the course information more effectively.  I've added this extra-credit Homework #0 worth only 5 points, to be completed before our second class (Thursday).  

##Requirements

What I want you to submit is two paragraphs telling me a little about you, and about what you hope to get out of this course, and anything else you think I might find useful/interesting.  

##Submission

Submit this to learningsuite before our second class if you want the extra credit.
{% endfilter %}

{% endblock %}
