{% extends "fall-2018/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #1

Security-related news stories happen almost daily on topics that are
relevant to this course. I encourage you to watch for news stories in
the popular and technical press that relate to topics we discuss in
class and other security topics.

Assignment: During the semester, share at least one news article on a
security-related news story to Piazza in the `news` section. This
should include the following:

* A link to the story
* A summary of the story in your own words
* Your opinion about the significance of the story and some commentary

Submit the URL of your post to Learning Suite for Homework 1 so the TA
will be sure to give you credit.

Do not re-post a story that has already been posted.

Post according to the following schedule, based on the first letter of
your last name,  so that we have stories posted throughout the semester.

A-F (Sep)
G-P (Oct)
Q-Z (Nov)

I encourage you to comment on other students' submissions.

{% endfilter %}

{% endblock %}
