<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS 465 Computer Security</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Lora:700|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/static/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid header">
      <div class="row">
	<div class="col-md-7 brand">
	  <a href="/">CS 465 Computer Security</a>
	</div>
	<div class="col-md-5 affiliation">
	  <a href="https://www.byu.edu">BYU</a> | <a
	  href="https://cs.byu.edu">Computer Science</a>
	</div>
	</div>
	<div class="row">
	<div class="col-sm">
	  <h1>{% block term %}{% endblock %}</h1>
	  <h4>{% block section%}{% endblock %}</h4>
	</div>
	</div>
	</div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
  <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  {% block menu %}{% endblock %}
	</ul>
      </div>
    </div>
    </nav>

    <div id="page" class="white">
    <div class="container-fluid">
    <div class="row">
          <div class="col-sm">

	    {% block page %}{% endblock %}
	    </div>
    </div>
    </div>
    </div>

    <div id="footer">
      <div class="row">
	<div id="license">
	</div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js" integrity="sha256-nvJJv9wWKEm88qvoQl9ekL2J+k/RWIsaSScxxlsrv8k=" crossorigin="anonymous"></script>
    <script>
  </body>
</html>
