{% extends "menu.html" %}

{% block page %}

{% filter markdown %}

# Course Description

This course covers fundamental principles of computer security. The
course consists of three parts:

**Part 1: Cryptography:** We will study and experiment with
basic cryptographic primitives (symmetric encryption, asymmetric
encryption, MAC, and cryptographic hash functions). We will learn how
these primitives are used to achieve certain security properties.

**Part 2: Systems:** We will study systems that use cryptography,
including HTTPS and secure email, to see how cryptographic primitives
are used in practice on the Internet.

**Part 3: Software Security:** We will learn about some of the most
common errors that software developers make that attackers then
exploit. We will learn how to avoid or prevent these mistakes.

# Prerequisites

CS 324 (concurrent) or instructor consent

# Course Materials

* [2020 Fall]({{url_for("show",directory="fall-2020")}})
* [2020 Winter]({{url_for("show",directory="winter-2020")}})
* [2019 Fall]({{url_for("show",directory="fall-2019")}})
* [2019 Winter]({{url_for("show",directory="winter-2019")}})
* [2018 Fall]({{url_for("show",directory="fall-2018")}})

{% endfilter %}

{% endblock %}
