{% extends "winter-2019/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #4

This homework will help you prepare to implement the MAC attack
lab. Study the two sources contained in the Lab specification that
describe the MAC attack. Write a concise description detailing how the
attack works (1/2 page max). If you don't understand the attack
completely after spending at least 90 minutes of effort, explain what
you know and list the question(s) you have from our study that you can
ask in class.﻿

I encourage you to figure out the attack from only these sources. Once
you've given it a serious try and written up what you have learned or
the questions you have, then you can consult the sources listed on the
on the lecture page that describes extension attacks. 10% extra credit
if you can figure it out from only these first two sources. Mention
that in your write-up if you do and claim your extra credit.

Submit your work on Learning Suite as a PDF before the start of class
on the due date.

{% endfilter %}

{% endblock %}
