{% extends "winter-2019/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #8

## TLS Attacks

A number of attacks have been reported on TLS. These include:

* DROWN
* BEAST
* FREAK
* Logjam
* Heartbleed

Read a good, in-depth technical article on one of these attacks and
write a 1 page summary on what you learned.

Topics in your article might include:

* What is the flaw that was discovered?
* How does the attack work (in brief)?
* How serious is the problem in practice?
* What lessons should we learn from this incident?

Please cite all the sources that you use.

Submit a PDF via Learning Suite.

{% endfilter %}

{% endblock %}
