{% extends "fall-2022/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #10

Read the three papers linked here, and submit a 1 page summary of what you learned, and any questions you still have.


* [Smashing the Stack for Fun and Profit](http://www.cs.wright.edu/people/faculty/tkprasad/courses/cs781/alephOne.html)
* [Smashing the Stack for Fun and Profit (Today)](https://travisf.net/smashing-the-stack-today)
* [Smashing the Modern Stack for Fun and Profit](https://www.ethicalhacker.net/columns/heffner/smashing-the-modern-stack-for-fun-and-profit/)

Be prepared to ask and discuss those questions in class.

Submit a PDF via Learning Suite.

{% endfilter %}

{% endblock %}
