{% extends "fall-2022/menu.html" %}

{% block page %}

{% filter markdown %}

# Project 11: Bomb Extra Credit

## Objectives

Gain hands-on experience with reverse engineering

## Overview

Reverse engineer an application in order to disable the software bombs
that it contains.

See the reverse engineering course labs at RPI
[http://security.cs.rpi.edu/courses/binexp-spring2015/](http://security.cs.rpi.edu/courses/binexp-spring2015/).

Go to 02/03 and download the bombs.zip file. If you unzip the file,
you will see the bombs file. Your task is to defuse the yellow, green,
blue, and red wires. Complete the lab and submit a one-page write-up
of your experience. The red wire is difficult, so you may complete the
first three for partial credit.

Write a report describing how you solved each wire and include a
screenshot of your results.

## Submission

Turn in a PDF of your report on Learning Suite.

If you successfully pass off the lab, you will receive 3 percentage
pts added to your overall class average. You can receive partial
credit.

{% endfilter %}

{% endblock %}
