{% extends "fall-2023/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #12

Read the classic Ken Thompson article [Reflections on Trusting Trust](https://www.archive.ece.cmu.edu/~ganger/712.fall02/papers/p761-thompson.pdf). Answer the following questions:

1. Describe briefly and clearly how the attack on the compiler works.

1. If you suspect that your machine has been compromised, what should
   you do about it?

1.  What other kinds of software like compilers do we usually trust
that have the potential to be compromised?

## Submission

Submit a PDF via Learning Suite.

{% endfilter %}

{% endblock %}
