{% extends "fall-2023/menu.html" %}

{% block page %}

{% filter markdown %}

# Homework #11

Read the three papers linked here, and submit a 1 page summary of what you learned, and any questions you still have.


* [Smashing the Stack for Fun and Profit](http://www.cs.wright.edu/people/faculty/tkprasad/courses/cs781/alephOne.html)
* [Smashing the Modern Stack for Fun and Profit](https://www.ethicalhacker.net/columns/heffner/smashing-the-modern-stack-for-fun-and-profit/)   [Alternate link](http://hamsa.cs.northwestern.edu/media/readings/modern_stack_smashing.pdf)
* [Smashing the stack in the 21st century](https://thesquareplanet.com/blog/smashing-the-stack-21st-century/)

Be prepared to ask and discuss those questions in class.

Submit a PDF via Learning Suite.

{% endfilter %}

{% endblock %}
